HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
.env
### IntelliJ ###
.idea/
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

build/

### VS Code ###
.vscode/

# Java
*.class
*.log

# BlueJ
*.ctxt

# Mobile Tools for Java
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear

# JVM crash logs
hs_err_pid*
